 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  align-self: center;
  font-weight: 700;
  margin: 9px auto 60px;
  padding: 13px 59px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 124px;
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 229px;
    margin-right: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 311px;
    margin-right: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 318px;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}
